        * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-box {
  background: url(../image/Bitmap.png);
  background-size: cover;
}

.wrapper {
  align-items: center;
  justify-content: space-between;
}
.li-style{
    margin-top: 10px;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    border: 1px dashed black;
    display: flex;
    align-items: center;
}
.param{
  margin-left: 40px;

}
.remove{
    width: 100px;
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
}
.complate{
    text-decoration: line-through;
    color: red;
}